/* font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
  margin: 3px;
  padding: 5px;
  background-image: url("../media/backgorundwalks.JPG");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

header {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.767);
}

h1 {
  padding: 5px;
  margin: 5px;
  color: aliceblue;
  font-size: 32px;
  font-style: bold;
  text-shadow: 1px 1px 1px rgba(11, 11, 11, 0.444), 
             1px 1px 3px rgba(0, 0, 0, 0.444); 
}

h2 {
  margin: 30px;
  padding: 20px;
  color: aliceblue;
  font-size: 24px;
  font-style: bold;
  text-shadow: 1px 1px 1px rgba(11, 11, 11, 0.444), 
             1px 1px 3px rgba(0, 0, 0, 0.444); 
}

h5 {
  color: aqua;
  font-size: 16px;
}

p {  
  padding-bottom: 10px;
  color: aliceblue;
  font-size: 14px;
}

footer {
  background-color: rgba(0, 0, 0, 0.678);
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
  font-style: bold;
  text-shadow:rgb(255, 255, 255)
}

/* Add a background color to the top navigation bar */
#topNav {
  background-color: rgba(0, 0, 0, 0.767);
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

/* Style the links inside the navigation bar */
/* using float property */
#topNav a {
  float: left;
  color: aliceblue;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
/* using hover selector over links*/
#topNav a:hover {
  background-color: rgb(71, 170, 170);
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
#topNav a.active {
  background-color: aliceblue;
  color: rgb(0, 0, 0);
}


/* Black background */
.backToBlack {
  background-color: rgba(0, 0, 0, 0.688);
  display: flex;
  justify-content: center;
  padding: 20px;
  font-style: normal;
  color: aliceblue;

}

/* White background */
.backToWhite {
  background-color: rgba(255, 255, 255, 0.255);
  display: flex;
  justify-content: center;
  padding: 20px;
  font-style: normal;
  size: auto;
} 

.centreText {
  margin: auto;
  text-align: center;
  display: inline-block;
  justify-content: center;
}

.centreHeadings {
  padding: 5px;
  display: block;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.767);
}

.toTheLeft {
  background-color: rgba(8, 8, 8, 0);
  display: flex;
  justify-content: left;
}

/* Displaying images in rows and columns  */
.row {
  padding: 5px;
  display: flex;
  background-color:  rgba(255, 255, 255, 0.767);
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.description {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* a container for images */
.container {
  background: rgba(255, 255, 255, 0.255);
  margin: auto 0;
  display: flex;
  justify-content: space-evenly;
}

.container .box {
  position: relative;
  background: rgba(0, 0, 0, 0);
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container .box .imgBox {
  position: relative;
}

.container .box .imgBox img {
  max-width: 100%;
  transition: transform 2s;
}

/* using hover to scale the image up  */
.container .box:hover .imgBox img {
  transform: scale(1.07);
}

.hoverlink {
    color: #dadada;
}

.hoverlink:hover {
    color: aqua;
}

.table-wrapper {
    width: 700px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h3 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}

.navbar {
  font-weight: 400;
}
.nav-link.active {
  font-weight: bold;
  color: #dadada !important;
}

.nav-link {
  transition:color .35s ease-in-out,background-color .35s ease-in-out,border-color .35s1 ease-in-out !important;
}

.nav-link:hover {
  color: aqua !important;

}

#footerDivider {
  height: 3rem;
} 

#fText {
  height: 4em;
  text-align:center;
  padding-top: 1em;
}

#form-div {
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: auto 0;
  border-radius:1em;;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
  width: 33em;
  margin-top: 2em;
  padding:0.5em;
  display:inline-block;
}

#results-div {
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  border-radius: 1em;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
  margin-top: 2em;
  margin-left: 2em;
  padding: 0.5em;
  width: 60vw;
  display: inline-block;
  position: absolute;
  overflow: auto;
  max-height: 60vh;
}

#input-header {
  text-align: center;
}

.main-block{
  position:relative;
  min-height: 50%;
}

.form-btns {
  margin-top: 0.5em;
  width: 48.86%;
}

.form-floating {
  margin-top: 0.5em;
}

.form-control {
  height: 2.5em !important;
}

.form-floating>label {
  padding: 0.5rem .75rem !important;
}

.form-floating>.form-select {
  height: 2.6em !important;
  padding-top: 0.5em !important;
}

.alert {
  border:none !important;
  padding: 0.25rem !important;
  margin-bottom: 0 !important;
  margin-top: 0.5em !important;
  text-align: center;
}

.alert-success {
  color: #ffffff !important;
  background-color: #5aaa5e !important;
  border: none !important;
}

.alert-danger {
  color: #ffffff !important;
  background-color: #ce4f5b !important;
  border: none !important;
}

#results-div::-webkit-scrollbar
{
width: 10px;
}

#results-div::-webkit-scrollbar-thumb
{
border-radius: 5em;
background-image: linear-gradient(#539aac, #004050);
}

.entry-div {
  position: relative;
  height: 2em;
  padding-bottom: 2.5em;
}

.del-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.edit-btn {
  position: absolute;
  right: 4.5em;
  top: 0;
}

.modal.fade .modal-dialog {
  transition: transform .3s ease-out !important;
  transform: translate(25%,-5%) !important;
}

.modal-content {
  width:auto !important;
  border-radius: 1em;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0.2em;
}

.modal-body #form-div {
  margin-top: 0;
}

.modal-title {
  padding-left: 27%
}

.modal-header {
  padding: 0.2rem 1rem !important;
}

.modal-footer {
  padding-top: 0 !important;
  justify-content: center !important;
}

.entry-values {
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  height: 2em;
  background-color: #386a76;
  border-color: #ffffff00;
  color: white;
  text-align: center;
  width:50vw;
}

.btn-primary {
  color: #fff;
  background-color: #386a76;
  border-color: #8fa3a9;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #294e57;
  border-color: #8fa3a9;
}

.btn-danger {
  color: #fff;
  background-color: #bf4a56;
  border-color: #90a4a9;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  color: #fff;
  background-color: #9b2e39;
  border-color: #90a4a9;
}

@media screen and (max-width: 1200px) {
  .entry-values {
      width: 48vw;
  }
}

@media screen and (max-width: 992px) {
  .entry-values {
      width: 47vw;
  }
}

@media screen and (max-width: 767px) {
  .entry-values {
      width: 43.5vw;
  }
}